################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/TakeToTalk/.vs/TakeToTalk
/TakeToTalk/TakeToTalk.Enumeradores/obj
/TakeToTalk/TakeToTalk.Server/obj
/TakeToTalk/TakeToTalk.Servicos/obj
/TakeToTalk/TakeToTalk.Server/bin/Debug/net5.0
/TakeToTalk/TakeToTalk.Servicos/bin/Debug/net5.0
/TakeToTalk/TakeToTalk.Enumeradores/bin/Debug/net5.0
*.user
/TakeToTalk/TakeToTalk.Hub/bin/Debug/net5.0
/TakeToTalk/TakeToTalk.Hub/obj
/TakeToTalk/TakeToTalk.Chat.UI.MVC/bin/Debug/net5.0
/TakeToTalk/TakeToTalk.Chat.UI.MVC/obj
/TakeToTalk/TakeToTalk.Testes
